body {
    background-color: rgb(136, 107, 223);
    margin: 0;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    /* align-items: center; */
}

header, main, footer {
    min-width: fit-content;
}

header {
    background-color: rgb(162, 152, 213);
}

header a {
    display: inline-block;
    color: aliceblue;
    padding: 0.5rem;
    text-decoration: none;
    
}

header a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    flex-grow: 1;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 1200px;
    min-width: 480px;
    /* mažam ekranui min-width */
    margin: 0 auto;
    padding: 0;


}


h1, h2, h3, p {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

h1, h2, h3 {
    background-color: white;
    border-bottom: 3px solid rgb(200, 28, 160);
}


footer {
    background-color: rgb(68, 32, 99);
}


footer .container {
    display: flex;
    align-content: stretch;
}